<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN LOGIN</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='base_css.css')}}"> -->
</head>
<body>
    {% if error %}
    <div class="genericError"> {{ error }}</div>
    {% endif %}
    <div id="formContainer" class="align-items">
        <form method="post">
            <div class="justify-items">
                <div style="text-align: center;align-self: center;color: var(--error-color);font-weight: bold;">ADMIN LOGIN! Not an
                    admin? Go to the <a href="/login"
                        style="outline: none;color: var(--main-highlight);font-size: inherit;text-decoration: underline;">user
                        login</a>.<div></div>
                </div>
                
                <div><label for="password">Password: </label><input type="password" name="password"
                        placeholder="hunter2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                        required autocomplete="off">
                    <div class="formError genericError">This entry has an error</div>
                </div>
            </div>
            <div class="center">
                <input class="fill-space" type="submit" value="Log In" style="width: 100%;">
            </div>
        </form>
    </div>
</body>
<script src="{{url_for('static', filename='login.js')}}"></script>
</html>